#main_head{
    background: #3ec2ed;
}

.span{
    width: 30px;
    height: 30px;
    margin-top: 5px!important;
}

#table_head{
    border-bottom: solid 2px #3ec2ed !important;
}

#table_div{
    border: solid 1px #cccccc;
    border-top: solid 2px #3ec2ed;
    padding-top: 10px;
}

#table_div div{
    margin-bottom: 5px;

}


#customer_list_title{
    border-bottom: solid 1px gainsboro;
    margin-bottom: 10px;
}

#customer_list_title span{
    font-size: 24px;
}

.menu_list{
    height: 40px;
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
    border-bottom: solid 1px gainsboro
}

.menu_list>a>div>span{
    float: right;
}

.menu_list>a:hover{
    text-decoration:none;
}
.menu_list>a:active{
    text-decoration:none;
}
.menu_list>a:visited{
    text-decoration:none;
}
.menu_list>a:link{
    text-decoration:none;
}

